h1 {
    color: yellowgreen;
    text-shadow:1px 0px 2px black;
    border: 5px solid yellowgreen;
    background: linear-gradient(50deg,#ffefaf ,50%,white);;
}
h2 {
    border-bottom: 5px dotted yellowgreen;
}
h3 {
    border-bottom: 1px solid cyan;
}
p{
    /* border:solid 1px;
    padding: 1px; */
}
table{
    border-collapse: collapse;
}
